APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:7BvJ9G6f4L0s8E2v1X9w3Y5Z6A7B8C9D0E1F2G3H4I5=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost
SITE_MODE=A
SHADOW_ORDER_SIGN_SECRET=change_this_secret
SHADOW_ORDER_SIGN_TTL=300
SHADOW_ORDER_SIGN_FUTURE_SKEW=60
SHADOW_ORDER_PAID_WEBHOOK=
SHADOW_ORDER_RECEIVER_URL=http://a-site.example.com/api/v1/shadow-order/paid
SHADOW_ORDER_WEBHOOK_TIMEOUT=3
SHADOW_ORDER_WEBHOOK_QUEUE=default
SHADOW_ORDER_WEBHOOK_MAX_TRIES=8

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
